<!DOCTYPE html> <! -- the "!" sign declares our document -->
{% load static %} <! -- allows to refer to the static files in this directory -->
<html lang="en">
<head>
    <meta charset="UTF-8"> <! -- allows to use different encodings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <! -- "viewport" means the visible area on our webpage, "width=device-width" sets the width of the visible area to our monitor's, "1.0" means 100%-->
    <title>
        {% block title %}
            Django App <! -- this block is default and will be used if we won't define our own title. It's the title of our browser tab -->
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <! -- "stylesheet" tells our browser to treat the file as .css because it has to be it -->
    <script src="{% static 'js/main.js' %}" defer></script> <! -- after executing this script on our webpage we can use the Java Script console -->
</head>
<body>
    <nav>
        <a href="/">
            <span role="img" aria-label="Home" title="Home">Home</span> <! -- "aria-label" is mostly used for blind people, title="Home" appears when we mouse over an icon, "span" means actual span space for icons or text -->
        </a> |
        <a href="/about">
            <span role="img" aria-label="About" title="About">About</span>
        </a> |
        <a href="{% url 'posts:lists' %}"> <! -- this is our default url. We use the double colon to indicate that there are several "posts" urls for different purposes. It needs to be used to avoid creating a bunch of similar urls -->
            <span role="img" aria-label="Posts" title="Posts">Posts</span>
        </a> |
        {% if user.is_authenticated %}
            <a href="{% url 'posts:new-post' %}">
                <span role="img" aria-label="New Post" title="New Post">New Post</span>
            </a> |
            <form class="logout" action="{% url 'users:logout' %}" method="post"> <! -- we need to use the "form" tag when we send a very "important" data on server (ideally it's better to apply it for both registration and login. If we omit the "action" tag then we won't be able to log out because by default we'll be sent to current page. It's better to use the "method=post" tag for secure data sending thru requests not urls -->
                {% csrf_token %} <! -- with this token malicious sites can't send their requests to our website -->
                <button class="logout-button" aria-label="User Logout" title="User Logout">Logout</button> <! -- we're applying our "button" func to logout. We need to use the "class" tag to assign our css style for the "logout" button. The same goes for "logout" -->
            </form>
        {% else %}
            <a href="{% url 'users:register' %}">
                <span role="img" aria-label="User Registration" title="User Registration">User Registration</span>
            </a> |
            <a href="{% url 'users:login' %}">
                <span role="img" aria-label="User Login" title="User Login">User Login</span>
            </a>
        {% endif %}
    </nav>
    <main> <! -- main has to be after the "nav" bar, so we can see it on our site just below the nav bar -->
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>