{% extends "layout.html" %}

{% block title %}
    New Post
{% endblock %}

{% block content %}
    <section>
        <h1>New Post</h1>
        <form class="form-with-validation"  method="post" enctype="multipart/form-data"> <!-- class means that we're applying the ccs style to our form. action means the exact url where we're filling in the form and all the data will be submitted there (if we remove this the entered data won't be submitted). enctype means that we can pass files and images to our form -->
            {% csrf_token %} <!-- form has to be preceded by the csrf token so it's secured before we start to fill it in -->
            {{ my_form }} <!-- it means either "form=forms.CreatePost(request.POST,request.FILES)" or "form=forms.CreatePost()". All depends on a user activity -->
            <button class="form-submit">Add Post</button>
        </form>
    </section>
{% endblock %}