{% extends "layout.html" %}

{% block title %}
    {{ my_post.title }}
{% endblock %}

{% block content %}
    <section> <!-- class applies the css logic to our image. src means that we're getting this image from this url where it's stored. Our banner is an ImageField variable hence it's auto getting stored in the "MEDIA_URL" dir. alt provides the alt title when the image cannot be loaded -->
        <img
            class="banner"
            src="{{ my_post.banner.url }}"
            alt="{{ my_post.title }}"
        />
        <h1>{{ my_post.title }}</h1>
        <p>{{ my_post.date }}</p>
        <p>{{ my_post.body }}</p>
    </section>
{% endblock %}