{% extends "layout.html" %}

{% block title %}
    {{ my_post.title }} <! -- all "post" variables here refer to {"my_post": post} which is equivalent of "post = Post.objects.get(slug=slug)"  -->
{% endblock %}

{% block content %}
    <section> <! -- alt means alt text which is gonna be provided if necessary. In this case it's identical to "block title". We need to use ".url" after the banner object because we're uploading the image from the admin site   -->
        <img
            class="banner"
            src="{{ my_post.banner.url }}"
            alt="{{ my_post.title }}"
        />
        <h1>{{ my_post.title }}</h1>
        <p>{{ my_post.date }}</p>
        <p>{{ my_post.body }}</p>
    </section>
{% endblock %}