{% extends 'layout.html' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
    <section> <!-- section is useful to structure the content appearance on webpage -->
    <h1>Posts</h1>
    {% for post in my_posts %} <!-- literally it means getting through every model in the Post model class -->
        <article class="post"> <!-- articles useful for the structure inside sections. Using a class tag we're applying the css style -->
            <h2>
                <a href="{%  url 'posts:page' slug=post.slug %}"> <!-- posts:page refers to the urls.py file. The first slug in slug=post.slug is our value whereas the second is a special variable. It assigns our post as a slug variable. It means that our url will be treated as slug. The slug name for our url defined on the admin site -->
                    {{ post.title }}
                </a>
            </h2>
            <p>{{ post.date }} by {{ post.author }}</p>
            <p>{{ post.body }}</p>
        </article>
    {% endfor %}
    </section>
{% endblock %}